.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  font-family: sans-serif;
  margin: 4px;
  display: flex;
  flex-direction: column;
  background-color: #eef7ab;
  border-radius: 5px;
  overflow: hidden;
  height: 370px;
}
.image {
  height: 60%;
  width: 100%;
}

.card_text {
  margin: 0 1.2rem 0 1.2rem;
  text-align: left;
}

.title {
  color: #333;
  margin: 12px 0 0 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.news-text {
  margin: 10px 0 15px 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  color: #333;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bottom-info {
  margin: 0 1.2rem 0.5rem 1.2rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  position: absolute;
  left: 1px;
  bottom: -5px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .next,
  .prev {
    margin: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .next,
  .prev {
    margin: 1rem;
  }
}

/* language */
.language {
  margin: 0 0 40px 5px;
  padding: 5px;
  font-size: 14px;
  background-color: #cff294;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 20px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* search  */

.search-box {
  margin: 1.2rem 0;
  display: flex;
  justify-content: center;
}
.search-control,
.search-btn {
  width: 50%;
}
.search-control {
  padding: 0 20px;
  font-size: 1rem;
  outline: 0;
  border: 2px solid #b7f01c;
  color: #555;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: whitesmoke;
}
.search-control::placeholder {
  color: #d0d0d0;
}
.search-btn {
  width: 55px;
  height: 40px;
  font-size: 1.4rem;
  background: #b7f01c;
  color: #fff;
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.search-btn:hover {
  background: #79b618;
}

.search-news {
  margin: 1.2rem auto;
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 2px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 0;
  border: 2px solid #b7f01c;
  color: #555;
  background-color: whitesmoke;
  border-radius: 25px;
  cursor: pointer;
}

/* pagination scheme */
.pagination {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: 2rem auto;
}

.next,
.prev {
  background-color: #cff294;
  border-radius: 25px;
  font-size: 14px;
  padding: 5px 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.prev:hover,
.next:hover {
  background-color: #aece76;
}
