@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&family=Raleway:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: #ebefca;
}

main {
  margin: 0 auto;
}

/* section 1 */

.heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #43a416;
  width: 85rem;
  margin: 0 auto;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
}

.news-title {
  display: flex;
  justify-content: space-between;
  margin: 3rem 5rem;
}

.latest-news {
  font-size: 3rem;
  color: #43a416;
  font-weight: 500;
}
.bbc {
  background-color: #c6ef81;
  font-size: 1.4rem;
  padding: 8px 30px;
  border: 1px solid #43a416;
  border-radius: 10px;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  width: 85%;
}

.card {
  width: 20%;
  height: 355px;
  text-decoration: none;
  font-family: sans-serif;
  margin: 4px;
  display: flex;
  flex-direction: column;
  background-color: #eef7ab;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card_text {
  margin: 0 1.5rem 0 1.5rem;
  text-align: left;
  line-height: 1.3;
}

.image {
  height: 55%;
  width: 100%;
}

.title {
  color: #555;
  margin: 12px 0 0 0;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.news-text {
  margin: 10px 0 10px 0;
  width: 100%;
  font-size: 1.4rem;
  font-family: Raleway;

  color: #555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.bottom-info {
  margin: 0 1.5rem 0 1.5rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #666;
}

/* search  */

.search-box {
  margin: 1.2rem 0;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.search-control,
.search-btn {
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.search-control {
  padding: 0 20px;
  font-size: 1.4rem;
  outline: 0;
  border: 2px solid #c6ef81;
  color: #555;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: whitesmoke;
}
.search-control::placeholder {
  color: #d0d0d0;
}
.search-btn {
  width: 55px;
  height: 40px;
  font-size: 1.4rem;
  background: #c6ef81;
  color: rgb(255, 255, 255);
  border: none;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-right: 5px;
  transition: 0.4s;
}
.search-btn:hover {
  background: #a4da48;
}

.url {
  text-decoration: none;
}

/* pagination scheme */
.pagination {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 2rem auto;
}

.next,
.prev {
  background-color: #cff294;
  border-radius: 25px;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.4s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.prev:hover,
.next:hover {
  background-color: #aece76;
}

/* copyright */
.text-center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 30%;
  }
  .heading {
    font-size: 5rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px) {
  .cards {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    width: 80%;
  }
  .heading {
    font-size: 3rem;
    margin: 0 auto;
  }
}
